section {
    margin: 0;
    padding: 0;
}
.btn-join {
}
p {
    text-align: justify;
    padding: 0;
    margin-top: 0;
}

.hero-banner-container {
    width: 1440px;
    color: white;
    display: table;
    align-items: center;
    padding: 60px 120px 60px 120px;
    overflow: hidden;
}
.blob {
    float: left;
    position: relative;
    width: 574px;
    height: 510px;
}
.blob > img {
    width: 574px;
    height: 510px;
}
.centered {
    position: absolute;
    width: 400px;
    top: 47%;
    left: 50%;
    margin-left: 10px;
    transform: translate(-50%, -50%);
}

#blobTitle {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 38px;
    line-height: 48px;
    text-align: left;
    color: #e5d9b6;
}

#blobContent {
    margin-bottom: 20px;
    text-align: left;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    color: #ffffff;
}
#earth {
    display: flex;
    float: right;
    flex-direction: column;
    align-items: center;
    padding-left: 58px;
    width: 512px;
    height: 505px;
}
#earthImage {
    width: 394px;
    height: 405px;
}
#earthContent {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #285430;
}

@media screen and (max-width: 600px) {
    .blob {
        width: 313px;
        height: 266px;
        justify-content: center;
        align-items: center;
    }
    .blob > img {
        width: 313px;
        height: 266px;
    }
    #blobTitle {
        width: 214px;
        height: 75px;
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
    }
    #blobContent {
        width: 214px;
        height: 57px;
        font-weight: 600;
        font-size: 15px;
        line-height: 19px;
    }
    #earthImage {
        width: 284px;
        height: 277px;
    }
    #earthContent {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
    }
    #earth {
        width: 284px;
        height: 314px;
        justify-content: center;
        align-items: center;
    }
}
