@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.wrapper {
    width: 100%;
    
    height: 643px;
    background-color: #fff;
}

.header {
    display: flex;
    justify-content: center;
    margin-top: 36px;
    margin-bottom: 50px;
}

.title {
    margin: auto 150px;
}
.logo {
    width: 90px;
    height: 104px;
}
.logo-revert {
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.logo-img {
    color: var(--slight-primary-color--);
}
.project_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 44px;
    gap: 52px;
    position: relative;
}
.project_item {
    background-color: var(--primary-color--);

    align-items: flex-start;
    padding: 15px;
    width: 200px;
    height: 300px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    cursor: pointer;
}
.project {
    position: relative;
}
.btn-arrow {
    // width: 97.03px;
    // height: 96px;
    cursor: pointer;
    // color: transparent;
    border-radius: 15px;
    border: transparent;
    z-index: 2;
}
.btn-arrow :hover {
    // opacity: 0.9;
    // transform: scale(1.1);
}
.arrow {
    width: 97.03px;
    height: 96px;
    background: #ffffff;
    border-radius: 15px;
    transition: background 200ms ease-in-out;
}
.arrow:hover {
    opacity: 0.6;
    transform: scale(1.05);
}
.btn-arrow-left {
    position: absolute;
    top: 42%;
    left: 1%;
}
.btn-arrow-right {
    position: absolute;
    top: 42%;
    right: 1%;
}
.project-img-wrapper {
    width: 200px !important;
    height: auto;
}

.project-img {
    width: 160px;
    height: 100px;
    align-self: stretch;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 1s;
    z-index: 100;
}

.project-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #ffffff;
    padding-top: 14px;
    margin: 0;
}

@media screen and (max-width: 9000px) {
    .project_item {
    }
}
@media screen and (max-width: 9000px) {
    .project_item {
    }
}
.project-img:hover {
    transform: translateZ(20px);
}
.project_list {
    perspective: 100%;
}
// .wrap-slide {
//     margin-right: 0px;
//     // width: 359px;
// }
.trending-img {
    height: 267px;
}
.content-slide {
    font-size: 5px;
}
