@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color--: #5f8d4e;
    --slight-primary-color--: #a4be7b;
    --title-primary-color--: #285430;
    // Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
}

* {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand';
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 3.2rem;
    text-rendering: optimizeSpeed;
    // line-height: 4;
}

.title-session {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 75px;

    text-align: center;
    padding-top: 25px;
    color: var(--title-primary-color--);
}
.btn {
    font-family: 'Quicksand';
    font-style: normal;

    width: 137px;
    height: 67px;

    background: #ffffff;
    border-radius: 15px;
    border: none;
    font-weight: 600;
    font-size: 28px;
    line-height: 35px;

    text-align: center;
    cursor: pointer;
    color: #245b3c;
}

.btn:hover {
    opacity: 0.99;
    background-color: #ccc;
}
.slick-prev {
    left: 25px;
    z-index: 100;
}
.slick-next {
    right: 25px;
}
.slick-dots {
    width: 50%;
}
.center .slick-center .project_item {
    -moz-transform: scale(0.5);
    transition: all 1000ms ease-in-out;
    margin-left: auto; 
    margin-right: auto;
z-index: 100;
}
.center .project_item {
    -moz-transform: scale(0.5);
}
.slick-slide.slick-center .project_item {
    -moz-transform: scale(0.5);
}

