@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color--: #5f8d4e;
    --slight-primary-color--: #a4be7b;
    --title-primary-color--: #285430;
    // Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --height-input-file: 56px;
}

* {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand';
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 3.2rem;
    text-rendering: optimizeSpeed;
    margin: 0px;
    // line-height: 4;
}
.custom-column-space {
    margin-right: 10px;
    margin-left: 10px;
}
.section {
    padding-left: 120px;
    padding-right: 120px;
}

.title-session {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 45.7px;

    text-align: center;
    padding-top: 25px;
    color: var(--title-primary-color--);
}
.btn {
    font-family: 'Quicksand';
    font-style: normal;

    width: 137px;
    height: 67px;

    background: #ffffff;
    border-radius: 15px;
    border: none;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;

    text-align: center;
    cursor: pointer;
    color: #245b3c;
}

.btn:hover {
    opacity: 0.9;
    background-color: #fff;
}
.slick-prev {
    left: 25px;
    z-index: 100;
}
.slick-next {
    right: 25px;
}
.slick-dots {
    width: 50%;
}
.center .slick-center .project_item {
    -moz-transform: scale(0.5);
    transition: all 1000ms ease-in-out;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
}
.center .project_item {
    -moz-transform: scale(0.5);
}
.slick-slide.slick-center .project_item {
    -moz-transform: scale(0.5);
}

// Mobile
@media (max-width: 739px) {
    :root {
        --height-input-file: 30px;
    }
    .section {
        padding-left: 20px;
        padding-right: 20px;
    }

    .btn-donate {
        padding: 5px 0px;
        gap: 5px;

        width: 73px;
        height: 34px;

        background: #ffffff;
        border-radius: 10px;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
    }
    .title-session {
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;

        text-align: center;
        padding-top: 25px;
        color: var(--title-primary-color--);
    }
}

// .btn {
//     font-family: 'Quicksand';
//     font-style: normal;

//     width: 137px;
//     height: 67px;

//     background: #ffffff;
//     border-radius: 15px;
//     border: none;
//     font-weight: 600;
//     font-size: 28px;
//     line-height: 35px;

//     text-align: center;
//     cursor: pointer;
//     color: #245b3c;
// }

.btn:hover {
    opacity: 0.99;
    background-color: #ccc;
}
