@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color--: #5f8d4e;
    --slight-primary-color--: #a4be7b;
    --title-primary-color--: #285430;
    // Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --height-input-file: 56px;
}

* {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand';
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 3.2rem;
    text-rendering: optimizeSpeed;
    margin: 0px;
    // line-height: 4;
}
.custom-column-space {
    margin-right: 10px;
    margin-left: 10px;
}
.section {
    padding-left: 120px;
    padding-right: 120px;
}

.title-session {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 45.7px;

    text-align: center;
    padding-top: 25px;
    color: var(--title-primary-color--);
}
.btn {
    font-family: 'Quicksand';
    font-style: normal;

    width: 137px;
    height: 67px;

    background: #ffffff;
    border-radius: 15px;
    border: none;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;

    text-align: center;
    cursor: pointer;
    color: #245b3c;
}

.btn:hover {
    opacity: 0.9;
    background-color: #fff;
}
.slick-prev {
    left: 25px;
    z-index: 100;
}
.slick-next {
    right: 25px;
}
.slick-dots {
    width: 50%;
}
.center .slick-center .project_item {
    -moz-transform: scale(0.5);
    transition: all 1000ms ease-in-out;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
}
.center .project_item {
    -moz-transform: scale(0.5);
}
.slick-slide.slick-center .project_item {
    -moz-transform: scale(0.5);
}

.slick-slider {
    width: 100%;
    overflow: hidden;
    color: white;
    height: 500px;

    // width: 50%;
    padding: 10px;
}
.slick-list {
    justify-content: center;
    position: relative;
    display: block !important;
    width: 100%;
    text-align: -webkit-center;
    // overflow: hidden;
    font-size: 16px;
}
.slick-slide div {
    width: 301px;
    height: 359px;
    padding: 10px 10px;

    background-color: #5f8d4e;
    border-radius: 5%;
}
.slick-slide img {
    width: calc(100% - 20px) !important;
    border-radius: 5%;
    height: 250px;
}

.slick-arrow {
    // background: rgba(233,233,180,0.75);
    border-radius: 50px;
    width: 60px;
    height: 60px;
    border-color: #245b3c !important;
    margin: 0 10px;
    display: inline-block;

    &::before {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        top: 67%;

        border: solid;
        border-color: #245b3c;
        border-width: 2px 2px 0 0;

        transform-origin: 50% 50%;
    }

    &.slick-prev::before {
        transform: rotate(-135deg);
        margin: -15px 0 0 -10px;
        right: 200% !important;
        z-index: 100;
    }

    &.slick-next::before {
        transform: rotate(45deg);
        margin: -15px 0 0 -20px;
        left: 240% !important;
        z-index: 100 !important;
    }

    &::after {
        content: '';

        border-style: solid;
        border-color: #245b3c;
        position: absolute;
        transform-origin: 50% 50%;
    }

    &.slick-prev::after {
        right: -2% !important;
        width: 30px;
        height: 0;
        border-width: 2px 0 0 0;
        transform: translate(-14px, -1px);
    }

    &.slick-next::after {
        left: 75% !important;
        width: 30px;
        height: 0;
        border-width: 2px 0 0 0;
        transform: translate(-26px, -1px);
    }
}

/* important */
.slick-prev,
.slick-next {
    z-index: 999 !important;
    top: 90%;
    border: solid !important;
    border-color: #245b3c !important;
}
.slick-prev {
    left: 50% !important;
}
.slick-next {
    right: 50% !important;
}
.slick-prev:before,
.slick-next:before {
    color: #245b3c;

    margin-top: 160px;
    position: absolute;
    font-size: 60px;
}
.slick-next:before {
    right: 50% !important;
}

.slick-slider {
    width: 100%;
    overflow: hidden;
    color: white;
    height: 500px;

    // width: 50%;
    padding: 10px;
}
.slick-list {
    justify-content: center;
    position: relative;
    display: block !important;
    width: 100%;
    text-align: -webkit-center;
    // overflow: hidden;
    font-size: 16px;
}
.slick-slide div {
    width: 301px;
    height: 359px;
    padding: 10px 10px;

    background-color: #5f8d4e;
    border-radius: 5%;
}
.slick-slide img {
    width: calc(100% - 20px) !important;
    border-radius: 5%;
    height: 250px;
}

.slick-arrow {
    // background: rgba(233,233,180,0.75);
    border-radius: 50px;
    width: 60px;
    height: 60px;
    border-color: #245b3c !important;
    margin: 0 10px;
    display: inline-block;

    &::before {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        top: 67%;

        border: solid;
        border-color: #245b3c;
        border-width: 2px 2px 0 0;

        transform-origin: 50% 50%;
    }

    &.slick-prev::before {
        transform: rotate(-135deg);
        margin: -15px 0 0 -10px;
        right: 200% !important;
        z-index: 100;
    }

    &.slick-next::before {
        transform: rotate(45deg);
        margin: -15px 0 0 -20px;
        left: 240% !important;
        z-index: 100 !important;
    }

    &::after {
        content: '';

        border-style: solid;
        border-color: #245b3c;
        position: absolute;
        transform-origin: 50% 50%;
    }

    &.slick-prev::after {
        right: -2% !important;
        width: 30px;
        height: 0;
        border-width: 2px 0 0 0;
        transform: translate(-14px, -1px);
    }

    &.slick-next::after {
        left: 75% !important;
        width: 30px;
        height: 0;
        border-width: 2px 0 0 0;
        transform: translate(-26px, -1px);
    }
}

/* important */
.slick-prev,
.slick-next {
    z-index: 999 !important;
    top: 90%;
    border: solid !important;
    border-color: #245b3c !important;
}
.slick-prev {
    left: 50% !important;
}
.slick-next {
    right: 50% !important;
}
.slick-prev:before,
.slick-next:before {
    color: #245b3c;

    margin-top: 160px;
    position: absolute;
    font-size: 60px;
}
.slick-next:before {
    right: 50% !important;
}

// Mobile
@media (max-width: 739px) {
    :root {
        --height-input-file: 30px;
    }
    .section {
        padding-left: 20px;
        padding-right: 20px;
    }

    .btn-donate {
        padding: 5px 0px;
        gap: 5px;

        width: 73px;
        height: 34px;

        background: #ffffff;
        border-radius: 10px;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
    }
    .title-session {
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;

        text-align: center;
        padding-top: 25px;
        color: var(--title-primary-color--);
    }
}
