.wrapper {
    position: relative;
    height: 680px;
    background-color: #fff6e7;
}

.blob1 {
    position: absolute;
    width: 254px;
    height: 217px;
    left: -66px;
    top: 58px;
}
.blob2 {
    position: absolute;
    width: 254px;
    height: 217px;
    left: 1287px;
    top: 0px;
}

.plantTree {
    position: absolute;
    width: 224px;
    height: 253px;
    left: 61px;
    top: 372px;
}
