@font-face {
    font-family: 'Quicksand-Light';
    src: local('Quicksand-Light'), url(../../../../font//Quicksand-Light.ttf) format('truetype');
  }
  
  
  .foter {

      background-color:#285430;
      margin-bottom: 0px;
      width: 100%;
     font-size:medium;
     color: white;
     justify-content: center;
     position: relative;
     height: 250px;
    }
    
    .inside-container {
      justify-content: center;
      max-width: 1300px;
      margin: 0 auto;
      padding: 0 var(--global-content-edge-padding);
    }
    
    .beauty {
      position: absolute;
      left: 45px;
      bottom: 70px;
    }
    
    .logo-foter {
      position: relative;
      justify-content: center;
    }
    
    .divide-container {
      display: grid;
      grid-template-columns: 1.5fr 1.2fr 1fr 1fr;
      justify-content: center;
     
      /* padding-top: 46px; */
      padding-bottom: 0px;
      grid-column-gap: 81px;
      grid-row-gap: 81px;
    }
    
    .fbic {
      width: 30px;
      height: auto;
      margin-right: 15px;
      margin-left: 55px;
    }
    
    .inic {
      width: 30px;
      height: auto;
    }
    
    .logo-footer {
      width: 150px;
      height: auto;
      left: 20px;
      margin-left: 20px;
    }
    
    .textLogo-footer {
      width: 200px;
      height: auto;
    }
    
    .info {
      position: relative !important;
      list-style: none !important;
      padding-left: 0px !important;
      background-color: unset !important;
      margin: unset !important;
      padding: unset !important;
      overflow: unset !important;
    }
    
    .img-phone {
      margin-top: 10px;
    }
    
    .img-dc {
      top: 1px;
      position: absolute;
      height: 35px;
      left: -3px;
    
    }
    
    .img-mail {
      top: 55px;
      height: 25px;
      left: -5px;
      position: absolute;

      
  }
    
    
    .foter-ic {
      position: absolute;
      left: 30px;
      margin-bottom: 10px;
    
    }
    
  
    
    .foter-dc {
      
      position: absolute;
      margin-bottom: 10px;

    }
    
    .foter-mail {
      position: absolute;

      top: 60px;
    }
    
    .title-foter {
      /* text-align: center; */
      padding-bottom: 0px;
    }
    
    .co-li {
      list-style: none;
      padding-bottom: 13px !important;
      margin-top: 0px !important;
      margin-left: 20px !important;
      float:unset !important;
      background-color: unset !important;

      
    }
    .iconnav {
      height: 20px;
    }
    
    .co-list {
      margin-left: 5px;
      background-color: unset !important;

    }
    .line {
      position: absolute;
       height: 1px; 
       background-color: white ;
       width: 90%;
       bottom: 50px;
      left: 50%;
      transform: translate(-50%, -50%);
       text-align: center;

    }
    .bottom-line{
      position: absolute;
      bottom: 10px;
      left: 70px;
  
    }
    .title-project {
      font-size:2.1em;
      position: absolute;
      left: 115px;
      bottom: 10px;
  
    }
    .each-info {
        float: unset !important;
    }
    .logo-footer {
        height: 60px;
        position: absolute;
        top: 65px;
        left: -10px;
        
    }
    
   