@font-face {
  font-family: 'Quicksand-Light';
  src: local('Quicksand-Light'), url(../font//Quicksand-Light.ttf) format('truetype');
}


.foter {
    background-color:#285430;
    margin-bottom: 0px;
    width: 100%;
   font-size:medium;
   color: white;
   justify-content: center;
   position: relative;
   height: 250px;
  }
  
  .inside-container {
    justify-content: center;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 var(--global-content-edge-padding);
  }
  
  .beauty {
    position: absolute;
    left: 45px;
    bottom: 70px;
  }
  
  .logo-foter {
    position: relative;
    justify-content: center;
  }
  
  .divide-container {
    display: grid;
    grid-template-columns: 1.5fr 1.2fr 1fr 1fr;
    justify-content: center;
   
    /* padding-top: 46px; */
    padding-bottom: 0px;
    grid-column-gap: 81px;
    grid-row-gap: 81px;
  }
  
  .fbic {
    width: 30px;
    height: auto;
    margin-right: 15px;
    margin-left: 55px;
  }
  
  .inic {
    width: 30px;
    height: auto;
  }
  
  .logo-footer {
    width: 150px;
    height: auto;
    left: 20px;
    margin-left: 20px;
  }
  
  .textLogo-footer {
    width: 200px;
    height: auto;
  }
  
 
  .info {
    position: relative;
    list-style: none;
    padding-left: 0px;
  }
  
  .img-phone {
    margin-top: 10px;
  }
  
  .img-dc {
    margin-top: 5px;
    
    height: 30px;
    /* margin-left: -1px; */
  }
  
  .img-mail {
    margin-top: 30px;
    height: 25px;
    margin-left: -5px;
}
  
  
  .foter-ic {
    position: absolute;
    left: 30px;
  
  }
  
  .foter-phone {
    top: 33px;
  }
  
  .foter-dc {
    top: -15px;
  
  }
  
  .foter-mail {
    top: 57px;
  }
  
  .title-foter {
    text-align: center;
    padding-bottom: 0px;
  }
  
  .co-li {
    list-style: none;
    padding-bottom: 13px;
    margin-top: 0px;
    margin-left: 20px;
  }
  .iconnav {
    height: 20px;
  }
  .co-list {
    margin-left: 5px;
  }
  .line {
    position: absolute;
     height: 1px; 
     background-color: white ;
     width: 90%;
     bottom: 50px;
     margin-left: 50px;
  }
  .bottom-line{
    position: absolute;
    bottom: 10px;
    left: 70px;

  }
  .title-project {
    font-size: xx-large;
    position: absolute;
    left: 100px;
    bottom: 30px;

  }